
body {
    font-family: Arial, sans-serif;
}

.nav-bar {
    background-color: skyblue;
    padding: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-bar li {
    float: left;
    margin-right: 1rem;
}

.nav-bar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar li a:hover {
    background-color: #ddd;
    color: black;
}